.App {
  background-color: #3500d3;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Header {
  background-color: #000;
}

.Body {
  display: flex;
  flex-direction: row;
}

.Editor {
  width: 69vw;
}

.Sidebar {
  font-size: 14px;
  text-align: center;
  color: #aaabb8;
  font-family: consolas;
  width: 31vw;
  height: 94vh;
  display: inline-flex;
  flex-direction: column;
  background-color: #222629;
  padding: 5px 10px;
}

textarea {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #aaabb8;
  background-color: transparent;
  resize: none !important;
}

.editor-btn {
  background-color: #222629;
  outline: none;
  border: none;
  font-weight: bold;
}

.stdin, .flags, .stdout, .stderr {
  word-wrap: break-word;
  height: 45%;
  width: 100%;
  font-size: 14px;
  margin: 5px 0;
  text-align: left;
}
